/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(desktop-wallpaper-portfolio-·-alexander-sagen.jpg); /* Adjust the path based on your file structure */

  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent image from repeating */
}

